
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Les utilisateurs peuvent lire leur propre document
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      // Les administrateurs peuvent lire et écrire sur n'importe quel profil
      allow read, write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Les administrateurs ont un accès complet aux quiz
    match /quizzes/{quizId} {
      allow read: if request.auth != null;
      allow write, delete: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
    
    // Les administrateurs ont un accès complet à la bibliothèque
    match /documents/{docId} {
       allow read: if request.auth != null;
       allow write, delete: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
    
    // Les utilisateurs peuvent créer des tentatives et ne lire que les leurs
    match /attempts/{attemptId} {
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow read: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
      allow read: if request.auth != null && resource.data.userId == request.auth.uid;
    }

    // Règle de secours : Refuser tout par défaut pour les autres collections
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
